# Stocks

In [ ]:
# Financial data.
import yfinance as yf

# Dates and times.
import datetime as dt

In [11]:
# Get data for Microsoft, Apple, and Google.
df = yf.download(['MSFT', 'AAPL', 'GOOG'], period="1d", interval="1m")

[*********************100%***********************]  3 of 3 completed

In [ ]:
# Just the closing prices.
df['Close']

Ticker                           AAPL        GOOG        MSFT
Datetime
2024-11-15 14:30:00+00:00  226.610001  175.160004  421.480011
2024-11-15 14:31:00+00:00  226.568802  175.429993  421.940002
2024-11-15 14:32:00+00:00  226.214996  175.279999  422.084991
2024-11-15 14:33:00+00:00  226.255005  174.949997  421.869995
2024-11-15 14:34:00+00:00  226.339996  175.029999  420.899994
...                               ...         ...         ...
2024-11-15 20:55:00+00:00  225.199997  174.110001  415.609985
2024-11-15 20:56:00+00:00  225.039993  173.960007  415.200012
2024-11-15 20:57:00+00:00  225.093796  173.925003  415.019989
2024-11-15 20:58:00+00:00  225.130005  173.970001  415.010010
2024-11-15 20:59:00+00:00  224.919998  173.889999  414.809998

[390 rows x 3 columns]

In [ ]:
# Get the current date and time.
filename = dt.datetime.now()
# Create a string from the current date and time.
filename = filename.strftime("%Y%m%d_%H%M%S")
# Prepend data folders, append file extension.
filename = 'data/' + filename + ".csv"

# Show the filename.
filename

'data/20241118_135903.csv'

In [17]:
# Save the data to a CSV file.
df['Close'].to_csv(filename)

## End